@import url("https://rsms.me/inter/inter.css");
@supports (font-variation-settings: normal) {
  body {
    font-family: 'Inter var', sans-serif; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  box-sizing: border-box; }

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: #555; }

.heading--name {
  font-family: 'Inconsolata', monospace;
  background: linear-gradient(to right, #441d8c 0%, #546ead 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3.5rem;
  letter-spacing: .08em;
  color: #7934fa;
  font-weight: 400;
  text-decoration: none;
  transition: color .2s ease-out; }
  @media (max-width: 56.25em) {
    .heading--name {
      font-size: 3.2rem; } }
  @media (max-width: 20em) {
    .heading--name {
      display: none; } }
  .heading--name-mobile {
    display: none;
    font-family: 'Inconsolata', monospace;
    background: linear-gradient(to right, #441d8c 0%, #546ead 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5rem;
    margin-bottom: 1.8rem;
    font-weight: 400; }
    @media (max-width: 20em) {
      .heading--name-mobile {
        display: block; } }

.heading--super {
  font-family: 'Inconsolata', monospace;
  font-size: 1.8rem;
  color: #7934fa;
  margin-bottom: 1rem;
  font-weight: 400; }

.heading--primary {
  font-size: 6.25rem;
  font-weight: 500;
  line-height: 1.2; }
  @media (max-width: 56.25em) {
    .heading--primary {
      font-size: 5rem; } }
  @media (max-width: 37.5em) {
    .heading--primary {
      font-size: 4.5rem; } }
  @media (max-width: 30em) {
    .heading--primary {
      font-size: 3.8rem; } }

.heading--secondary, .heading--cta {
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2; }
  @media (max-width: 56.25em) {
    .heading--secondary, .heading--cta {
      font-size: 4rem; } }
  @media (max-width: 37.5em) {
    .heading--secondary, .heading--cta {
      font-size: 3.3rem; } }
  @media (max-width: 30em) {
    .heading--secondary, .heading--cta {
      font-size: 3rem; } }

.heading--cta {
  color: #fff;
  line-height: 0; }

.heading--dek, .heading--dek-cta {
  font-size: 2rem;
  line-height: 2; }
  @media (max-width: 56.25em) {
    .heading--dek, .heading--dek-cta {
      font-size: 1.6rem; } }
  @media (max-width: 37.5em) {
    .heading--dek, .heading--dek-cta {
      font-size: 1.4rem;
      line-height: 1.8; } }

.heading--dek {
  color: #6a737d; }

.heading--dek-cta {
  color: #fff; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-medium {
  margin-bottom: 2.4rem !important; }

.u-margin-bottom-large {
  margin-bottom: 6rem !important; }

.u-margin-top-small {
  margin-top: 3rem !important; }

.u-margin-top-section {
  margin-top: 7rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-top-section {
      margin-top: 4.5rem !important; } }

.u-margin-top-section-xl {
  margin-top: 15rem !important; }

.u-span-line-2 {
  display: block !important; }
  @media (max-width: 37.5em) {
    .u-span-line-2 {
      display: inline !important; } }

.btn:link, .btn:visited {
  display: inline-block;
  font-size: 1.6rem;
  text-decoration: none;
  border-radius: 3px;
  padding: 2rem 3.2rem;
  transition: all .2s; }
  .btn:link .btn__right-arrow, .btn:visited .btn__right-arrow {
    display: inline-block;
    transform: translateX(0);
    backface-visibility: hidden;
    transition: all .2s; }
  .btn:link:hover .btn__right-arrow, .btn:visited:hover .btn__right-arrow {
    transform: translateX(0.4rem); }

.btn--solid-violet {
  background-image: linear-gradient(to left, #441d8c 0%, #7934fa 100%);
  color: #fff;
  opacity: 1;
  transition: all .3s; }
  .btn--solid-violet:hover {
    opacity: .9; }

.btn--outline-violet {
  color: #7934fa;
  background-color: #fff;
  border: 1px solid #9a66fb; }
  .btn--outline-violet:hover {
    color: #5005dc;
    border: 1px solid #7934fa; }

.features__title {
  width: 60%;
  margin: 0 auto; }
  @media (max-width: 37.5em) {
    .features__title {
      width: 70%; } }

.features__container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 75%;
  margin: 0 auto; }
  @media (max-width: 56.25em) {
    .features__container {
      width: 80%;
      flex-direction: column-reverse; } }

.features__text-box {
  display: flex;
  flex-direction: column; }

.features__feature {
  width: 70%;
  padding: 1.75rem 3rem;
  margin-left: 3rem;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: none;
  transition: all .2s ease-out; }
  @media (max-width: 68.75em) {
    .features__feature {
      margin-left: 1.5rem; } }
  @media (max-width: 56.25em) {
    .features__feature {
      margin: 0 auto; } }
  @media (max-width: 30em) {
    .features__feature {
      width: 100%; } }
  .features__feature:not(:last-child) {
    margin-bottom: 1.5rem; }
  @media (max-width: 56.25em) {
    .features__feature:last-child {
      margin-bottom: 4rem; } }
  .features__feature--name {
    font-family: 'Inconsolata', monospace;
    font-size: 2rem;
    font-weight: 900; }
  .features__feature--description {
    font-size: 1.4rem; }
  .features__feature--purple {
    color: #7934fa;
    font-weight: 700; }
  .features__feature:hover, .features__feature:focus {
    border: 1px solid #7934fa;
    box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.15); }

.features__image-box {
  width: 50%;
  text-align: center; }
  @media (max-width: 68.75em) {
    .features__image-box {
      width: 80%; } }
  @media (max-width: 56.25em) {
    .features__image-box {
      width: 50%; } }

.features__image {
  width: 100%;
  padding: 0 4rem 0 0; }
  @media (max-width: 68.75em) {
    .features__image {
      padding: 0rem; } }
  @media (max-width: 56.25em) {
    .features__image {
      padding: 2rem 5rem; } }
  @media (max-width: 37.5em) {
    .features__image {
      padding: 2rem 2.5rem; } }
  @media (max-width: 30em) {
    .features__image {
      padding: 0rem; } }

.benefits__title {
  width: 60%;
  margin: 0 auto; }
  @media (max-width: 56.25em) {
    .benefits__title {
      width: 70%; } }

.benefits__content {
  display: flex;
  margin: 0 auto;
  width: 80%; }
  @media (max-width: 56.25em) {
    .benefits__content {
      flex-direction: column;
      align-items: center; } }

.benefits__benefit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 3px;
  padding: 5rem 3.5rem;
  width: 33.33333%;
  box-shadow: 0 2px 4px rgba(27, 31, 35, 0.15); }
  @media (max-width: 56.25em) {
    .benefits__benefit {
      flex-direction: row;
      width: 75%;
      padding: 3rem 5rem;
      align-items: center; } }
  @media (max-width: 37.5em) {
    .benefits__benefit {
      flex-direction: column; } }
  @media (max-width: 20em) {
    .benefits__benefit {
      padding: 2.5rem;
      width: 85%; } }
  .benefits__benefit:not(:last-child) {
    margin-right: 4rem; }
    @media (max-width: 56.25em) {
      .benefits__benefit:not(:last-child) {
        margin-right: 0rem;
        margin-bottom: 6rem; } }
    @media (max-width: 30em) {
      .benefits__benefit:not(:last-child) {
        margin-bottom: 4rem; } }

.benefit__name {
  font-family: 'Inconsolata', monospace;
  font-size: 1.6rem; }

.benefit__description {
  font-size: 1.2rem; }

.benefit__image-box {
  margin-bottom: 2rem; }
  @media (max-width: 56.25em) {
    .benefit__image-box {
      margin-bottom: 0rem;
      margin-right: 4rem; } }
  @media (max-width: 37.5em) {
    .benefit__image-box {
      margin-bottom: 2.5rem;
      margin-right: 0rem; } }

.benefit__img {
  height: 15rem;
  max-width: 100%; }
  @media (max-width: 56.25em) {
    .benefit__img {
      width: 30rem;
      height: auto; } }

#mc_embed_signup {
  clear: left;
  width: 100%; }
  #mc_embed_signup input.email,
  #mc_embed_signup input.button {
    font-family: 'Inconsolata', monospace;
    font-size: 1.6rem;
    border-radius: 3px;
    height: 5rem; }
  #mc_embed_signup input.email {
    vertical-align: baseline; }
    #mc_embed_signup input.email:focus {
      outline: none;
      color: #7934fa; }
  #mc_embed_signup input.button {
    background-color: #7934fa;
    color: #fff;
    border: 1px solid #9a66fb; }
    #mc_embed_signup input.button:focus {
      outline: none; }
    #mc_embed_signup input.button:focus, #mc_embed_signup input.button:hover {
      color: #7934fa;
      background-color: #fff; }

.header {
  height: 110vh; }
  .header--home, .header--retro {
    background-image: radial-gradient(rgba(121, 52, 250, 0.45) 5%, transparent 0);
    background-size: 4rem 4rem;
    position: relative; }
  @media (max-width: 68.75em) and (min-height: 50em) and (orientation: portrait) {
    .header {
      height: 80vh; } }
  @media (max-width: 20em) {
    .header {
      height: 100vh; } }
  .header__logo {
    position: absolute;
    top: 4.5rem;
    left: 10rem; }
    @media (max-width: 56.25em) {
      .header__logo {
        top: 3.5rem; } }
    @media (max-width: 37.5em) {
      .header__logo {
        left: 6rem; } }
  .header__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%); }
    .header__content--home {
      width: 50%; }
    .header__content--retro {
      width: 60%; }
      .header__content--retro .header__buttons {
        margin: 0 auto;
        width: 80%; }
    @media (max-width: 68.75em) {
      .header__content {
        width: 60%; } }
    @media (max-width: 56.25em) {
      .header__content {
        width: 70%;
        transform: translateY(-45%); } }
    @media (max-width: 30em) {
      .header__content {
        width: 80%;
        transform: translateY(-48%); } }

.navigation {
  position: relative; }
  .navigation__button {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    position: fixed;
    top: 4.5rem;
    right: 10rem;
    background-color: #fff;
    z-index: 2000; }
    @media (min-width: 68.75em) {
      .navigation__button {
        display: none; } }
    @media (max-width: 56.25em) {
      .navigation__button {
        top: 3.5rem; } }
    @media (max-width: 37.5em) {
      .navigation__button {
        right: 6rem; } }
    @media (max-width: 20em) {
      .navigation__button {
        top: 2.5rem;
        right: 3rem; } }
  .navigation__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 5rem;
    right: 10.5rem;
    background-image: linear-gradient(to right, #441d8c 0%, #546ead 100%);
    z-index: 1000;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
    @media (min-width: 68.75em) {
      .navigation__background {
        display: none; } }
    @media (max-width: 56.25em) {
      .navigation__background {
        top: 4rem; } }
    @media (max-width: 37.5em) {
      .navigation__background {
        right: 6.5rem; } }
    @media (max-width: 20em) {
      .navigation__background {
        top: 3rem;
        right: 3.5rem; } }
    .navigation__background--menu-open {
      transform: scale(80); }
  .navigation__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
    .navigation__nav--menu-open {
      opacity: 1;
      width: 100%; }
  .navigation__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none; }
  .navigation__item {
    font-family: 'Inconsolata', monospace;
    text-decoration: none;
    font-size: 2.5rem;
    padding-bottom: .2rem;
    color: #fff; }
  .navigation__link {
    display: inline-block; }
    .navigation__link:link, .navigation__link:visited {
      font-family: 'Inconsolata', monospace;
      text-decoration: none;
      font-size: 2.5rem;
      padding-bottom: .2rem;
      color: #fff;
      border-bottom: 1px solid transparent;
      transition: border-bottom .2s; }
    .navigation__link:hover, .navigation__link:active {
      border-bottom: 1px solid #fff; }
  .navigation__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 3rem;
    height: 1px;
    background-color: #555;
    display: block;
    transition: all .2s; }
    .navigation__icon--line-1 {
      top: 2.7rem; }
    .navigation__icon--line-3 {
      top: 4.3rem; }
  .navigation__button--menu-open .navigation__icon--line-1 {
    top: 3.5rem;
    transform: translateX(-50%) rotate(135deg); }
  .navigation__button--menu-open .navigation__icon--line-2 {
    display: none; }
  .navigation__button--menu-open .navigation__icon--line-3 {
    top: 3.5rem;
    transform: translateX(-50%) rotate(-135deg); }

.header__top-bar {
  display: flex;
  flex-direction: row-reverse; }

.header__main-nav {
  position: absolute;
  top: 4.5rem;
  right: 10rem;
  transform: translateY(50%);
  display: none; }
  @media (min-width: 68.75em) {
    .header__main-nav {
      display: inline-block; } }

.header__main-nav li {
  font-family: 'Inconsolata', monospace;
  display: inline-block; }
  .header__main-nav li a:link,
  .header__main-nav li a:visited {
    text-decoration: none;
    font-size: 1.6rem;
    transition: border-bottom .2s; }
    .header__main-nav li a:link:not(last-child),
    .header__main-nav li a:visited:not(last-child) {
      color: #6a737d;
      margin-right: 3rem;
      padding-bottom: .6rem;
      border-bottom: 1px sold transparent; }
  .header__main-nav li:last-child a:link,
  .header__main-nav li:last-child a:visited {
    color: #7934fa;
    padding: 1rem;
    border-radius: 3px;
    border: 1px solid #9a66fb;
    transition: all .2s; }
  .header__main-nav li:last-child a:hover,
  .header__main-nav li:last-child a:active {
    color: #5005dc;
    border: 1px solid #7934fa; }
  .header__main-nav li a:hover,
  .header__main-nav li a:active {
    border-bottom: 1px solid #7934fa; }

.section-cta {
  background-image: radial-gradient(rgba(121, 52, 250, 0.45) 5%, transparent 0);
  background-size: 4rem 4rem;
  position: relative;
  padding-bottom: 8rem; }

.cta__title {
  width: 60%;
  margin: 0 auto;
  padding-top: 8rem; }
  @media (max-width: 68.75em) {
    .cta__title {
      width: 70%; } }
  @media (max-width: 56.25em) {
    .cta__title {
      width: 75%; } }

.cta__button-box {
  margin: 0 auto;
  width: 80%; }

.footer {
  background-color: #c2cad4;
  padding: 1.4rem 10rem; }
  @media (max-width: 37.5em) {
    .footer {
      padding: 1.4rem 6rem; } }
  @media (max-width: 30em) {
    .footer {
      padding: 1.4rem 3rem; } }
  .footer__container {
    display: flex;
    align-items: center; }
  .footer__left {
    flex: 1; }
  .footer__logo:link, .footer__logo:visited {
    font-family: 'Inconsolata', monospace;
    color: #555;
    font-weight: 400;
    font-size: 2.5rem;
    text-decoration: none;
    transition: all .2s; }
  .footer__logo:hover, .footer__logo:active {
    color: #7934fa; }
  .footer__right {
    font-family: 'Inconsolata', monospace;
    display: flex;
    font-size: 1.4rem;
    padding-bottom: .2rem; }
    @media (max-width: 30em) {
      .footer__right {
        font-size: 1.2rem; } }
  .footer__copyright {
    display: inline-block;
    padding-right: 3rem; }
    @media (max-width: 30em) {
      .footer__copyright {
        padding-right: 1.7rem; } }
  .footer__link:link, .footer__link:visited {
    display: inline-block;
    color: #555;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: all .2s; }
  .footer__link:hover, .footer__link:active {
    color: #7934fa;
    border-bottom: 1px solid #7934fa; }

.section-logos {
  background-image: linear-gradient(to left, #7934fa 0%, #441d8c 100%);
  width: 100%; }
  @media (max-width: 20em) {
    .section-logos {
      display: none; } }

.logos__container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around; }

.logo__img {
  padding: 2rem 5rem;
  width: 20%; }
  @media (max-width: 56.25em) {
    .logo__img {
      padding: 2rem 3.5rem; } }
  @media (max-width: 37.5em) {
    .logo__img {
      padding: 2rem 2.5rem;
      width: 25%; } }
  @media (max-width: 30em) {
    .logo__img {
      padding: 2rem .5rem;
      width: 28%; } }
  @media (max-width: 20em) {
    .logo__img {
      padding: 2rem .5rem;
      width: 33%; } }
  @media (max-width: 30em) {
    .logo__img--mp {
      display: none; } }

#how {
  padding: 4rem 0rem; }

.how__title {
  margin: 0 auto; }
  @media (max-width: 30em) {
    .how__title {
      width: 80%; } }

.how__content {
  display: flex;
  width: 90%;
  margin: 0 auto; }
  @media (max-width: 56.25em) {
    .how__content {
      flex-direction: column;
      width: 50%; } }
  @media (max-width: 37.5em) {
    .how__content {
      width: 65%; } }
  @media (max-width: 30em) {
    .how__content {
      width: 70%; } }

.how__step {
  padding: 3rem;
  flex: 1;
  border-radius: 3px;
  box-shadow: 0rem 0rem 4rem rgba(0, 0, 0, 0.05);
  margin: 0 1.5rem; }
  @media (max-width: 56.25em) {
    .how__step {
      display: flex;
      align-items: center; }
      .how__step:not(:last-child) {
        margin-bottom: 3rem; } }
  @media (max-width: 30em) {
    .how__step {
      flex-direction: column;
      justify-content: center; } }

.step__icon {
  font-size: 2.8rem; }
  .step__icon i {
    background: linear-gradient(to right, #441d8c 0%, #546ead 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  @media (max-width: 56.25em) {
    .step__icon {
      margin-right: 3rem; } }
  @media (max-width: 30em) {
    .step__icon {
      margin-right: 0rem;
      margin-bottom: 2rem; } }

.step__name {
  font-family: 'Inconsolata', monospace;
  font-size: 1.8rem; }

.step__description {
  font-size: 1.4rem; }
