.header__content--weekly {

    @include for-phone-medium-down {
        transform: translateY(-45%);
    }

    & .heading--primary {
        @include for-phone-large-down {
            font-size: 3.5rem;
            line-height: 1.3;
        }
    }
}
