/**************************************
FOOTER
**************************************/

.footer-box {
    display: flex;
    padding: 150px 120px 30px 120px;
}

.footer-box__logo {
    flex: 1;
    font-weight: 400;
    font-size: 100%;
    transition: color 0.3s;
    text-decoration:none;
    color:#555;
}

.footer-box__logo:hover {
    color: #fa8c61;
}

.footer-box__incubators {
    display: flex;
    max-width: 40%;
    overflow: hidden;
    align-items: center;
    
}

.footer-box__incubators img {
    width: 100%;
    height: auto;
    padding: 0px 30px 0px 30px
}


.social-links {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.social-link:link,
.social-link:visited {
    margin: 0px 25px 0px 5px;
    color: #555;
    transition: color 0.3s;
}

.social-link:hover,
.social-link:active { color: #fa8c61 }

/**************************************
MEDIA QUERIES
**************************************/


/* --- Up to 767px -- */
@media only screen and (max-width: 767px) {

    .footer-box { padding-left: 60px; }

}
    
/* --- Up to 480px -- */
@media only screen and (max-width: 480px) {

    .footer-box__incubators {display: none;}
    
    .footer-box { padding-right: 70px; }

}
