/* Mint green: #d3eee1 */
/* Sea foam: #7FA191 */
/* Royal purple: #663399 */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}

/**************************************
REUSABLE COMPONENTS
**************************************/

section { padding: 50px 0px; }

h3 {
    font-weight:300;
    font-size:150%;
    margin-bottom: 20px;
}

.p__superscript {
    text-transform: uppercase;
    color: #fa8c61;
    font-size: 60%;
    margin-bottom: 10px;
    font-weight: 400;
}

.p__description {
    font-weight: 200;
    color: #888;
    font-size: 80%;
    line-height: 1.45em;
}

/**************************************
HEADER
**************************************/

header { 
    display: flex;
    padding: 80px 120px 60px 120px;
    align-items: center;
    justify-content: space-between;
}

.header__copy {
    display: flex;
    flex-direction: column;
    flex: 0 0 50%;
    padding-right: 30px;
}

h1 {
    color: #888;
    font-size: 250%;
    line-height:1.05em;
    font-weight: 400;
}

h2 {
    color: #777;
    font-size: 120%;
    font-weight:100;
}


header img {
    width: 100%;
}

/**************************************
MISSION
**************************************/

#mission {
    padding: 80px 120px 60px 120px;
    display: flex;
    align-items: center;
}

#mission img {
    width: 100%;
    transform: scaleX(-1);
    flex: 0 0 50%;
}

.mission__copy {
    padding-left: 100px;
    display: flex;
    flex-direction: column;
}

/**************************************
GET INVOLVED
**************************************/

#get-involved {
    padding: 80px 120px 60px 120px;
    text-align: center;
}

.help__hed h3 {
    margin: 0 auto;
    margin-bottom: 30px;
}

.help__steps {
    display: flex;
    align-items: center;
}

.help__step {
    width: 80%;
    padding: 30px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 4px;
    box-shadow: 0 20px 60px 10px rgba(0,0,0,0.15);
}

.help__step img {
    width: 100%;
    margin-bottom: 20px;
}

.help__step--copy {
    display: flex;
    flex-direction: column;
}

.help__step--hed {
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 80%;
}

.help__step--description {
    color: #888;
    font-weight: 200;
    font-size: 75%;
    line-height: 1.45em;
}

/**************************************
WHAT WE DO 
**************************************/

#what {
    padding: 80px 120px 60px 120px;
    display: flex;
    align-items: center;
}

#what img {
    width: 100%;
    flex: 0 0 50%;
}

.what__copy {
    padding-right: 30px;
    display: flex;
    flex-direction: column;
}




